.container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.leaflet-draw-container {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
}

.leaflet-draw-toolbar {
  display: flex;
  flex-direction: row;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polygon {
  border: none;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
  border: none;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-circle {
  border: none;
}